<%- include("partials/header") %>


<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;">Create a New Campground</h1>
            <div style="max-width: 300px; margin: 25px auto;">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="image" placeholder="image url">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>

                
                <a style="margin-top: 20px;" class="btn btn-success btn-sm" href="/campgrounds">Go Back</a>

            </div>
        </div>
    </div>
</div>1432051252

<%- include("partials/footer") %>